<%= simple_form_for(@public_guest) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname %>
    <%= f.input :email %>
  </div>

  <div class="form-actions">
    <% submit_value = @public_guest.new_record? ? "Register" : "Update visitor" %>
    <%# FIXME: onclick the button's text changes... %>
    <%= f.button :submit, value: submit_value %>
  </div>
<% end %>
