<p id="notice"><%= notice %></p>

<h2><%= t('public_guests.visitors_guests.title') %></h2>
<%= t('public_guests.visitors_guests.explanation') %>

<h2><%= t('public_guests.other_visitors.title') %></h2>
<%= t('public_guests.other_visitors.explanations') %>
<br/>
<%= t('public_guests.other_visitors.conditions') %>
<br/>
<br/>
<p>
  <%= link_to t('public_guests.other_visitors.register_here'), new_public_guest_path, class: "btn btn-primary" %>
</p>

<h2><%= t('public_guests.list.title') %></h2>

<table class="table table-hover"
  <% if current_user&.can_manage_competition?(managed_competition) %>
    data-toggle="table"
    data-search="true"
  <% end %>
       id="table-visitors">
  <thead>
    <tr>
      <th><%= t('public_guests.list.fullname') %></th>
      <% if current_user&.can_manage_competition?(managed_competition) %>
        <th><%= t('public_guests.list.email') %></th>
        <th><%= t('public_guests.list.actions') %></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @public_guests.each do |public_guest| %>
      <tr>
        <td><%= public_guest.fullname %></td>
        <% if current_user&.can_manage_competition?(managed_competition) %>
          <td><%= public_guest.email %></td>
          <td>
            <%= link_to t('usual_buttons.edit'), edit_public_guest_path(public_guest) %>
            <%= link_to t('usual_buttons.destroy'), public_guest, method: :delete, data: { confirm: t('alerts.are_you_sure') } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

