<!-- Page Content -->
<div class="container">

  <!-- Call to Action Well -->
  <div class="row">
    <div class="col-lg-12">
      <div class="well text-center mt">
        <%= t('homepage.welcome_html', comp_name: managed_competition.name) %>
      </div>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <!-- Content Row -->
  <div class="row">
    <% if managed_competition.groups_visible_for_all? || current_user&.staff? && managed_competition.groups_visible_for_staff? %>
      <div class="col-xs-12">
        <%= simple_form_for :schedules do |f| %>
          <%= f.input :competitors, collection: @all_competitors, prompt: :translate, input_html: { id: "competitors_list" } %>
        <% end %>
      </div>
      <div class="col-xs-12">
        <div id="calendar"></div>
      </div>
      <script>
var personal_schedule_url = "<%= registration_schedule_path(registration_id:0) %>";
$("#competitors_list").change(function(e) {
  let registrationId = Number(e.target.value);
  if (registrationId == 0)
    return;
  let $cal = $("#calendar");
  let eventsUrl = personal_schedule_url.replace("0", e.target.value);
  if ($cal.hasClass("fc")) {
    // FC is already initialized
    $cal.fullCalendar('removeEventSources');
    $cal.fullCalendar('addEventSource', eventsUrl);
  } else {
    let mobile = /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
    let options = {
      events: eventsUrl,
      defaultView: mobile ? "listFourDay" : "agendaFourDay",
    }
    setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', '<%= managed_competition.number_of_days %>', "fullcomp", options, false);
  }
});
      </script>
    <% else %>
      <div class="col-xs-12">
        The groups and personal schedules are not yet available, please come back later.
      </div>
    <% end %>
  </div>
  <!-- /.row -->

  <!-- Footer -->
  <footer>
    <div class="row">
      <div class="col-lg-12">
        <p></p>
      </div>
    </div>
  </footer>

</div>
<!-- /.container -->

