<p id="notice"><%= notice %></p>

<h1>Staff Teams</h1>

<table data-toggle="table" class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th class="col-xs-1">People</th>
      <th class="col-xs-3">Leader</th>
    </tr>
  </thead>

  <tbody>
    <% @staff_teams.each do |staff_team| %>
      <tr>
        <td>
          <%= link_to render("shared/team_name", team: staff_team), staff_team %>
          <% if current_user.can_manage_competition?(managed_competition) %>
            <%= link_to icon('pencil'), edit_staff_team_path(staff_team), class: "btn btn-primary btn-sm" %>
            <%= link_to icon('trash'), staff_team, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          <% end %>
        </td>
        <td><%= staff_team.registrations.size %></td>
        <td><%= array_to_s(staff_team.leaders) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff Team', new_staff_team_path %>
