<p id="notice"><%= notice %></p>

<p>
  <%= link_to 'Back to teams\' index', staff_teams_path %>
</p>

<p>
<strong>Name:</strong>
<%= @staff_team.name %>
</p>

<% unless @staff_team.comments.blank? %>
  <p>
  <strong>Comments:</strong>
  <%= @staff_team.comments %>
  </p>
<% end %>

<p>
<strong>Leader:</strong>
<%= array_to_s(@staff_team.leaders) %>
</p>

<table class="table table-hover"
       id="table-accepted">
  <thead>
    <tr>
      <th>Name</th>
      <th>Scrambles for</th>
      <th>Runner only</th>
    </tr>
  </thead>
  <tbody>
    <% @staff_team.registrations.sort_by(&:name).each do |registration| %>
      <tr>
        <td>
          <% if current_user.can_manage_competition?(managed_competition) %>
            <%= link_to registration.name, edit_registration_path(registration) %>
          <% else %>
            <%= registration.name %>
          <% end %>
        </td>
        <td><%= render "shared/event_id_collection", event_ids: registration.scramble_events.map(&:event_id) %></td>
        <td><%= registration.details.runner_only ? "yes" : "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<p>Number of scramblers per event:</p>
<p>
<% Event.all_real.each do |e| %>
  <%= render "shared/event", event: e %>: <%= @scramblers_per_event[e.id] || 0 %>
  <br/>
<% end %>
</p>
<% if current_user.can_manage_competition?(managed_competition) %>
  <%= link_to 'Edit', edit_staff_team_path(@staff_team) %> |
<% end %>
