<%= simple_form_for(round) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class='row datetimerange'>
      <% default_input_value = round.start ? {} : { value: "13/07/2017 10:00" } %>
      <%= f.input :start, as: :datetime_picker, wrapper: :ranged_datetime, input_html: default_input_value %>
      <%= f.input :end, as: :datetime_picker, wrapper: :ranged_datetime, input_html: default_input_value %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
