<h1><%= managed_competition.name %> schedule</h1>

<div class="row">
  <div id="calendar" class="col-xs-12"></div>
</div>
<script>

let canEditComp = <%= current_user&.can_manage_competition? || false %>;

let options = {
  events: '<%= schedule_path(format: :json) %>',
  selectable: canEditComp,
  eventClick: function(event, jsEvent, view) {
    $.getScript(event.edit_url, function() {});
  },
  eventRender: function(event, element) {
    if (event.hasOwnProperty('groups_url')) {
      var newElem = $('<a href="'+event.groups_url+'">Show groups for this round</a>');
      // We want to live the page, no need to show the modal!
      newElem.click(function(clickEvent) { clickEvent.stopPropagation(); });
      element.find('.fc-content').append("<br/>");
      element.find('.fc-content').append(newElem);
    }
  },
  select: function(start, end) {
    $.getScript('/schedule_events/new', function() {
      $('#schedule_event_start').val(moment(start).format('DD/MM/YYYY HH:mm'));
      $('#schedule_event_end').val(moment(end).format('DD/MM/YYYY HH:mm'));
      initPickers();
    });

    $("#calendar").fullCalendar('unselect');
  },
};


setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', '<%= managed_competition.number_of_days %>', "fullcomp", options, canEditComp);

</script>
