<% staff_teams_ids = group.id.nil? ? [] : group.staff_teams.map(&:team_id) %>
<div class="col-xs-6 col-sm-3">
  <div id="group-<%= group.id %>" class="panel panel-dg <%= "panel-#{group.color}" unless group.color.blank? %>">
    <div class="panel-heading heading-as-link" data-toggle="collapse" data-target="#collapse-<%= group.id %>">
      <h3 class="panel-title">
        <% if staff_teams_ids.any? %>
          [<%= array_to_s(staff_teams_ids) %>]
        <% end %>
        <%= link_to icon('trash'), group_path(group.id), id: "delete-group-#{group.id}", method: "delete" if group.id %>
        <%= group.name %>
        <span class="badge"><%= group.registration_groups.size %></span>
        <%# link_to icon('pencil'), edit_group_path(group.id) if group.id %>
        <%= link_to(icon("toggle-up"), "#", class: "add-top") %>
        <%= link_to(icon("toggle-down"), "#", class: "add-bottom") %>
        <span class="collapse-indicator"></span>
      </h3>
    </div>
    <div id="collapse-<%= group.id %>" class="panel-groups collapse in list-group">
      <div class="search">
        <input class="form-control" type="text" placeholder="Filter people">
        <span class="glyphicon glyphicon-remove-circle"></span>
      </div>
      <div class="list-people" data-group="<%= group.id %>">
        <%= render "registrations_as_list", registrations: group.registration_groups.map(&:registration).sort_by(&:transliterated_name), event_id: group.event_id %>
      </div>
    </div>
  </div>
</div>
