<%= simple_form_for group,
                    url: groups_for_event_path(@event.id),
                    html: { id: "form-for-#{group_id}" },
                    method: :patch do |eg| %>
  <%= render "action_input_group", available_groups: @groups %>
  <table data-toggle="table"
         data-click-to-select="true"
         data-search="true"
         class="table table-hover panel-body">
    <thead>
      <tr>
        <th data-checkbox="true" data-field="state"></th>
        <th class="search-cell" data-field="name">
        </th>
      </tr>
    </thead>
    <tbody>
      <%= eg.simple_fields_for :registration_groups, group.registration_groups do |f|%>
        <tr>
          <td></td>
          <% line_id = "#{f.object.group_id}_#{f.object.registration_id}" %>
          <td id="<%= line_id %>">
            <%= f.object.name %>
            <%= f.hidden_field :id %>
            <%= f.hidden_field :registration_id %>
            <%= f.hidden_field :group_id, class: "hidden-group-input" %>
            <span class="new-group-number"></span>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
