<% group ||= Group.new %>
<% repeat_start = @repeat_start || 1 %>
<% repeat_end = @repeat_end || 1 %>
<% create ||= false %>
<% disabled = group.registrations.any? %>
<% hint = disabled ? "You can't change the round because there are competitors in the group" : nil %>
<%= simple_form_for group, wrapper: :horizontal_form do |f| %>
  <%= f.input :name %>
  <%= f.input :round_id, as: :select, collection: Round.all_ordered, value_method: lambda { |r| r.id }, label_method: lambda { |r| r.name }, disabled: disabled, hint: hint, input_html: { id: 'round-selector' } %>
  <%= f.input :color, as: :select, collection: Group::COLORS.keys %>
  <div class='row datetimerange'>
    <% default_input_value = group.start ? {} : { value: "13/07/2017 10:00" } %>
    <%= f.input :start, as: :datetime_picker, wrapper: :ranged_datetime, input_html: { id: 'group-start-datetime' }.merge(default_input_value) %>
    <%= f.input :end, as: :datetime_picker, wrapper: :ranged_datetime, input_html: { id: 'group-end-datetime' }.merge(default_input_value) %>
  </div>
  <% if create %>
    <hr/>
    <div class="row">
      <div class="col-xs-4">
        <%= f.button :submit, class: "btn-primary", value: "Create multiple" %>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon">
            From
          </span>
          <input type="text" name="repeat_start" class="form-control" value="<%= repeat_start %>">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="input-group">
          <span class="input-group-addon">
            To
          </span>
          <input type="text" name="repeat_end" class="form-control" value="<%= repeat_end %>">
        </div>
      </div>
    </div>
  <% else %>

    <%= f.button :submit, class: "btn-primary", value: "Save group details" %>
    <%= link_to icon('trash'), group_path(group.id), method: "delete", class: "btn btn-danger" %>

  <% end %>
<% end %>

<script>
var roundTimes = {
  <% Round.all_ordered.each do |r| %>
      "<%= r.id %>": { start: "<%= r.start.strftime('%d/%m/%Y %H:%M') %>", end : "<%= r.end.strftime('%d/%m/%Y %H:%M') %>" },
  <% end %>
};

$(document).ready(function () {
  $("#round-selector").change(function (e) {
    var val = $("#round-selector").val();
    var start_datepicker_elem_data = $("#group-start-datetime").parent().data("DateTimePicker");
    var end_datepicker_elem_data = $("#group-end-datetime").parent().data("DateTimePicker");
    start_datepicker_elem_data.clear();
    end_datepicker_elem_data.clear();
    start_datepicker_elem_data.date(roundTimes[val].start);
    end_datepicker_elem_data.date(roundTimes[val].end);
  });
});

</script>


<% unless create %>
  <%= simple_form_for group, wrapper: :horizontal_form, url: group_staff_path(group) do |f| %>
    <hr/>
    <input id="hidden_teams_selection" name="selected_teams" type="hidden" value=""/>
    <input id="hidden_registrations_selection" name="selected_registrations" type="hidden" value=""/>
    <div class="col-xs-6">
      <h3>Staff teams for the group</h3>
      <table data-toggle="table"
             data-click-to-select="true"
             class="table table-hover"
             id="table-staff">
        <thead>
          <tr>
            <th data-checkbox="true" data-field="state"></th>
            <th data-field="name">
              Team name
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="2">
              <div class="pull-left" id="delete-button-container" style="display: none;">
                <button type="submit" class="btn btn-danger" name="staff_action" value="teams-remove-selected">
                  <%= icon 'trash', "Remove selected" %>
                </button>
              </div>
          </tr>
        </tfoot>
        <tbody>
          <%= f.simple_fields_for :staff_teams_groups do |stm|%>
            <tr id="team-<%= "#{stm.object.staff_team_id}" %>">
              <td></td>
              <td>
                <% if current_user.can_manage_competition?(managed_competition) %>
                  [<%= stm.object.staff_team.id %>]
                <% end %>
                <%= stm.object.name %>
                <%= stm.hidden_field :id %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr/>
      <h3>Staff teams available</h3>
      <table data-toggle="table"
             data-click-to-select="true"
             data-search="true"
             class="table table-hover"
             id="table-staff-available">
        <thead>
          <tr>
            <th data-checkbox="true" data-field="state"></th>
            <th data-field="name">
              Team available
            </th>
          </tr>
        </thead>
        <tbody>
          <% @team_available.each do |sa|%>
            <tr id="team-<%= "#{sa.id}" %>">
              <td></td>
              <td>
                <% if current_user.can_manage_competition?(managed_competition) %>
                  [<%= sa.id %>]
                <% end %>
                <%= sa.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id="button-add-to-team" class="pull-left search" style="display: none;">
        <button type="submit" class="btn btn-success" name="staff_action" value="teams-add-selected">
          <%= icon 'check', "Add selected teams" %>
        </button>
      </div>
    </div>
    <div class="col-xs-6">
      <h3>Individual staff for the group</h3>
      <table data-toggle="table"
             data-click-to-select="true"
             class="table table-hover"
             id="table-staff-registrations">
        <thead>
          <tr>
            <th data-checkbox="true" data-field="state"></th>
            <th data-field="name">
              Name
            </th>
            <th data-field="role">
              Role/Comment
            </th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td colspan="3">
              <div class="pull-left" id="delete-button-container2" style="display: none;">
                <button type="submit" class="btn btn-danger" name="staff_action" value="registrations-remove-selected">
                  <%= icon 'trash', "Remove selected" %>
                </button>
              </div>
              <div class="pull-right">
                <button type="submit" class="btn btn-primary" name="staff_action" value="registrations-update-roles">
                  <%= "Update roles" %>
                </button>
              </div>
          </tr>
        </tfoot>
        <tbody>
          <%= f.simple_fields_for :staff_registrations_groups do |stm|%>
            <tr id="registration-<%= "#{stm.object.registration_id}" %>">
              <td></td>
              <td>
                <%= stm.object.name %>
                <%= stm.hidden_field :id %>
              </td>
              <td>
                <%= stm.input_field :role, class: 'form-control input-role', label: false %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <hr/>
      <h3>People available</h3>
      <table data-toggle="table"
             data-click-to-select="true"
             data-search="true"
             class="table table-hover"
             id="table-staff-registrations-available">
        <thead>
          <tr>
            <th data-checkbox="true" data-field="state"></th>
            <th data-field="name">
              Name
            </th>
          </tr>
        </thead>
        <tbody>
          <% @staff_available.each do |sa|%>
            <tr id="registration-<%= "#{sa.id}" %>">
              <td></td>
              <td>
                <%= sa.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div id="button-add-to-team2" class="pull-left search" style="display: none;">
        <button type="submit" class="btn btn-success" name="staff_action" value="registrations-add-selected">
          <%= icon 'check', "Add selected people" %>
        </button>
      </div>
    </div>
<script>

// FIXME: this whole thing is dirty and has copy paste. On the long term it should be cleaned up
var showHideTeams = function(e) {
  var staffTable = $("#table-staff");
  $("#delete-button-container").toggle(staffTable.bootstrapTable('getAllSelections').length > 0);
};

var showHidePeople = function(e) {
  var staffTable = $("#table-staff-registrations");
  $("#delete-button-container2").toggle(staffTable.bootstrapTable('getAllSelections').length > 0);
};

$(document).ready(function () {
  // see: http://bootstrap-table.wenzhixin.net.cn/documentation/
  $('#table-staff').on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', showHideTeams);
  $('#table-staff-registrations').on('check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table', showHidePeople);

  var initCheckboxesValues = function($table) {
    $table.find('tr td input[type="checkbox"]').each(function(index) {
      $(this).val($(this).parents('tr').attr('id'));
    });
  };
  initCheckboxesValues($('#table-staff-available'));
  initCheckboxesValues($('#table-staff'));
  initCheckboxesValues($('#table-staff-registrations-available'));
  initCheckboxesValues($('#table-staff-registrations'));
  var buttonAdd = $('#button-add-to-team');
  buttonAdd.insertBefore($('#table-staff-available').parent().parent().parent().find('.search'));
  buttonAdd.show();
  buttonAdd = $('#button-add-to-team2');
  buttonAdd.insertBefore($('#table-staff-registrations-available').parent().parent().parent().find('.search'));
  buttonAdd.show();

  // Filling role doesn't select
  $('.input-role').click(function(e) {
    e.preventDefault();
    e.stopPropagation();
  });

  setupSelectTable("#table-staff-available", "#button-add-to-team", "#hidden_teams_selection");
  setupSelectTable("#table-staff", "#delete-button-container", "#hidden_teams_selection");
  setupSelectTable("#table-staff-registrations-available", "#button-add-to-team2", "#hidden_registrations_selection");
  setupSelectTable("#table-staff-registrations", "#delete-button-container2", "#hidden_registrations_selection");



});

</script>
  <% end %>
<% end %>
