<% group ||= Group.new %>
<% repeat_start = @repeat_start || 1 %>
<% repeat_end = @repeat_end || 1 %>
<% create ||= false %>
<% disabled = group.registrations.any? %>
<% hint = disabled ? "You can't change the event because there are competitors in the group" : nil %>
<%= simple_form_for group, wrapper: :horizontal_form do |f| %>
  <%= f.input :name %>
  <%= f.input :event_id, as: :select, collection: Event.all, disabled: disabled, hint: hint %>
  <div class='row datetimerange'>
    <% default_input_value = group.starts_at ? {} : { value: "13/07/2017 10:00" } %>
    <%= f.input :starts_at, as: :datetime_picker, wrapper: :ranged_datetime, input_html: default_input_value %>
    <%= f.input :ends_at, as: :datetime_picker, wrapper: :ranged_datetime, input_html: default_input_value %>
  </div>
  <% if create %>
    <hr/>
    <div class="row">
      <div class="col-xs-2">
        <%= f.button :submit, class: "btn-primary", value: "Create multiple" %>
      </div>
      <div class="col-xs-2">
        <div class="input-group">
          <span class="input-group-addon">
            From
          </span>
          <input type="text" name="repeat_start" class="form-control" value="<%= repeat_start %>">
        </div>
      </div>
      <div class="col-xs-2">
        <div class="input-group">
          <span class="input-group-addon">
            To
          </span>
          <input type="text" name="repeat_end" class="form-control" value="<%= repeat_end %>">
        </div>
      </div>
    </div>
  <% else %>
    <%= f.button :submit, class: "btn-primary", value: "Save group details" %>
    <%= link_to icon('trash'), group_path(group.id), method: "delete", class: "btn btn-danger" %>
  <% end %>
<% end %>
