<% group_id ||= "nogroup" %>
<% title ||= "untitled" %>
<div class="col-xs-6 col-sm-3 col-md-2">
  <div class="panel panel-info">
    <div class="panel-heading heading-as-link collapsed" data-toggle="collapse" data-target="#collapse-<%= group_id %>">
      <h3 class="panel-title">
        <%= link_to icon('pencil'), edit_group_path(group.id) if group.id %>
        <%= link_to icon('trash'), group_path(group.id), id: "delete-group-#{group.id}", method: "delete" if group.id %>

        <%= title %>
        <span class="badge"><%= group.registration_groups.size %></span>
        <span class="collapse-indicator"></span>
      </h3>
    </div>
    <div id="collapse-<%= group_id %>" class="panel-collapse collapse panel-groups">
    <%= render "form_table_for_group", group: group, group_id: group_id %>
    </div>
  </div>
</div>
<script>
// Move stuff around
$(document).ready(function () {
  setupForm($("#form-for-<%= group_id %>"), "<%= group_id %>");

  $('#delete-group-<%= group.id %>').on("click", function(e) {
    if(!confirm("Delete the group?")) {
      e.preventDefault();
      e.stopPropagation();
    }
  });
});

</script>
