<% group_id ||= "nogroup" %>
<% title ||= "untitled" %>
<% collection ||= [] %>
<div class="col-xs-6 col-sm-3 col-md-2">
  <div class="panel panel-info">
    <div class="panel-heading heading-as-link collapsed" data-toggle="collapse" data-target="#collapse-<%= group_id %>">
      <h3 class="panel-title">
        <%= title %>
        <span class="badge"><%= collection.size %></span>
        <span class="collapse-indicator"></span>
      </h3>
    </div>
    <div id="collapse-<%= group_id %>" class="panel-collapse collapse panel-groups">
    <%= render "form_table_for_group", collection: collection, group_id: group_id %>
    </div>
  </div>
</div>
<script>
// Move stuff around
$(document).ready(function () {
  setupForm($("#form-for-<%= group_id %>"), "<%= group_id %>");
});
</script>
