<% active_event ||= "" %>
<div class="container-fluid">
  <div class="row">
    <div id="groups-nav">
      <ul class="nav nav-tabs">
        <li role="presentation" class="<%= "active" if active_event.blank? %>">
          <%= link_to(icon('plus'), groups_path) %>
        </li>
        <% Event.all.each do |e| %>
          <li role="presentation" class="<%= "active" if e.id == active_event %>">
            <%= link_to(render('shared/event', event: e, placement: "bottom"), groups_for_event_path(e.id)) %>
          </li>
        <% end %>
      </ul>
    </div>
    <% unless active_event.blank? %>
      <div id="rounds-nav">
        <ul class="nav nav-pills">
          <% rounds = Round.where(event_id: active_event).order(r_id: :asc) %>
          <% rounds.each do |r| %>
            <li role="presentation" class="<%= "active" if @round.id == r.id %>">
              <%= link_to(r.name, groups_for_round_path(r.id)) %>
            </li>
          <% end %>
          <li class="<%= "active" if rounds.empty? %>">
            <% icon_text = "Add round for event" if rounds.empty? %>
            <%= link_to(icon('plus', icon_text), add_round_path(@event.id), method: 'patch') %>
          </li>
          <li>
            <%= link_to(icon('minus'), remove_round_path(@event.id), method: 'patch') %>
          </li>
        </ul>
      </div>
    <% end %>
    <div id="groups-content">
      <%= yield %>
    </div>
  </div>
</div>
