<% event_id ||= "magic" %>
<% cutoff = Event.find(event_id).cutoff&.wca_value %>
<% registrations.each do |r| %>
  <div class="list-group-item registration-item <%= "over_cutoff" if cutoff && r.any_best_for(event_id) > cutoff %>"
       data-registration="<%= r.id %>"
       data-name="<%= r.transliterated_name %>"
       data-pb="<%= r.any_best_for(event_id) %>"
  >
    <div class="name">
      <%= r.name %>
      <%= array_to_s(r.staff_teams.map(&:team_id)) %>
    </div>
    <%# FIXME: proper hint about events and staff %>
    <div class="events">
      <%= render "shared/event_id_collection", event_ids: r.events & ["444bf", "555bf", "333mbf", "333fm"] %>
    </div>
  </div>
<% end %>
