<% event_id ||= "magic" %>
<% registrations.each do |r| %>
  <div class="list-group-item"
       data-registration="<%= r.id %>"
       data-name="<%= r.transliterated_name %>"
       data-pb="<%= r.any_best_for(event_id) %>"
  >
    <%= r.name %>
    <%# FIXME: proper hint about events and staff %>
    <% unless (r.events & ["333mbf"]).empty? %>
      M
    <% end %>
    <% unless (r.events & ["444bf", "555bf"]).empty? %>
      BBF
    <% end %>
    <%= array_to_s(r.staff_teams.map(&:team_id)) %>
  </div>
<% end %>
