<div class="modal fade" id="edit_event">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          Information for <%= @group.name %>
          <% if current_user&.can_manage_competition? %>
            <%= link_to icon('pencil'), edit_group_path(@group), class: "btn btn-primary btn-sm" %>
          <% end %>
        </h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <table data-toggle="table"
                   class="table table-hover">
              <thead>
                <tr>
                  <th>
                    Competitors (<%= @group.registrations.size %>)
                  </th>
                </tr>
              </thead>
              <tbody>
                <% @group.registrations.sort_by(&:name).each do |comp|%>
                  <tr>
                    <td>
                      <% if current_user&.can_manage_competition? %>
                        <%= link_to comp.name, registration_schedule_path(comp) %>
                      <% else %>
                        <%= comp.name %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <div class="col-xs-12 col-md-6">
            <table data-toggle="table"
                   class="table table-hover">
              <thead>
                <tr>
                  <th>
                    Staff member (<%= @group.all_staff_people.size %>)
                  </th>
                </tr>
              </thead>
              <tbody>
                <% additional_staff = @group.staff_registrations_groups %>
                <% @group.all_staff_people.each do |stg|%>
                  <tr>
                    <td>
                      <% if stg.scrambles_for?(@group.event_id) %>
                        [S]
                      <% elsif stg.runner_only? %>
                        [R]
                      <% end %>
                      <% if current_user&.can_manage_competition? %>
                        <%= link_to stg.name, registration_schedule_path(stg) %>
                      <% else %>
                        <%= stg.name %>
                      <% end %>
                      <% extra = additional_staff.find { |srg| srg.registration_id == stg.id } %>
                      <% unless extra&.role.blank? %>
                        <%= icon('info-circle', data: { toggle: "tooltip", placement: "top" }, title: extra.role) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('[data-toggle="tooltip"]').tooltip()
</script>
