<%= render 'nav', active_event: @event.id do %>
  <h1>Editing groups for <%= @round.name %></h1>
  <p>
  <a href="#" onclick="$('.collapse').collapse('show');">Expand all</a>
  | <a href="#" onclick="$('.collapse').collapse('hide');">Collapse all</a>
  </p>
  <p>
  Sort by : <%= link_to "Name", "#", id: "sort_name_link", class: "icon-after alpha_asc" %>, <%= link_to "Psychsheet", "#", id: "sort_pb_link", class: "icon-after num_desc" %>
  </p>
  <% if @round.r_id != 1 %>
    <%= alert(:info, "This is not the first round of an event, you won't be able to add competitors there", note: false) %>
  <% end %>
  <div class="row">
    <div class="col-xs-6 col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Competitors without groups
          </h3>
        </div>
        <div id="without-group" class="list-people list-group" data-group="0">
          <%= render "registrations_as_list", registrations: @all_without_group, event_id: @round.event_id %>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-md-9">
      <div class="row row-all-existing-groups">
        <% @groups.sort.each do |g| %>
          <%= render 'existing_group_panel', group: g %>
          <div class="may-clearfix"></div>
        <% end %>
      </div>
    </div>
  </div>
  <script>
var drake = dragula($(".list-people").toArray(), {
  removeOnSpill: true,
});

let removeGroupForRegistration = function(registration, revertFunc) {
  return ajaxAction(`<%= drop_group_for_round_path(@round.id) %>/${registration}`,
                    revertFunc);
};

let moveTo = function(to, registration_ids, revertFunc) {
  return ajaxAction(`<%= move_to_group_path(@round.id) %>/${to}/${registration_ids.join(",")}`,
                    revertFunc);
};

drake.on('remove', function(el, container, source) {
  // override removeonspill by adding it back to the 'without-group' div
  let $el = $(el);
  $el.removeClass("gu-hide");
  let $prev = $(container);
  let cancelled = false;
  if ($prev.data("group") != "0") {
    let revert = function() {
      $prev.append($el);
    };
    cancelled = !removeGroupForRegistration($el.data("registration"), revert);
    recomputeSizeForGroups([$prev]);
  }
  if (!cancelled) {
    $("#without-group").append($el);
  }
}).on('drop', function(el, target, source, sibling) {
  let $el = $(el);
  let $target = $(target);
  let $source = $(source);
  let to = $target.data("group");
  let from = $source.data("group");
  let registration_id = $el.data("registration");
  let revert = function() {
    $source.append($el);
  };
  if (to == from) {
    return;
  } else if (to == "0") {
    removeGroupForRegistration(registration_id, revert);
    recomputeSizeForGroups([$source]);
  } else {
    moveTo(to, [registration_id], revert);
    recomputeSizeForGroups([$target, $source]);
  }
})

sortGroupsBy = function(attr, asc = true) {
  $(".list-people").each(function (index, element) {
    sortCollectionBy($(this).children(), attr, asc).detach().appendTo($(this));
  });
}

$("#sort_name_link").click(function(ev) {
  ev.preventDefault();
  let asc = $(this).hasClass("alpha_desc");

  $(this).toggleClass("alpha_asc", asc);
  $(this).toggleClass("alpha_desc", !asc);

  sortGroupsBy("name", asc);
});

$("#sort_pb_link").click(function(ev) {
  ev.preventDefault();
  let asc = $(this).hasClass("num_desc");

  $(this).toggleClass("num_asc", asc);
  $(this).toggleClass("num_desc", !asc);

  sortGroupsBy("pb", asc);
});
  </script>
<% end %>
