<h4><%= managed_competition.name %> groups schedule</h4>
<%= link_to("Show team id(s) for groups", groups_schedule_path(with_id: true))%>

<div class="row">
  <div id="calendar" class="col-xs-12"></div>
</div>
<script>

let options = {
  events: '<%= groups_schedule_path(format: :json, with_id: params[:with_id]) %>',
  eventClick: function(event, jsEvent, view) {
    $.getScript(event.show_url, function() {});
  },
};

setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', '<%= managed_competition.number_of_days %>', "fullcomp", options, false);

</script>
