<%= render 'nav', active_event: @event.id do %>
  <% if @round %>
    <p><a href="#" id="groups-action-expand">Expand all</a> | <a href="#" id="groups-action-collapse">Collapse all</a></p>
    <p><%= link_to "Autogenerate groups (will erase current registration groups!)", generate_groups_path(@round.id), method: "patch" %></p>
    <p><%= link_to "Edit #{@round.name} schedule", edit_round_path(@round) %></p>
    <div class="row">
      <div id="calendar" class="col-xs-6"></div>
    </div>
    <div class="row row-all-groups">
      <% @groups.sort.each do |g| %>
        <%= render 'group_panel', group_id: g.id, title: g.name, group: g %>
        <div class="may-clearfix"></div>
      <% end %>
      <%= render 'group_panel', title: "No groups", group: @ungrouped %>
    </div>
    <script>
var post_event = function(event, revertFunc) {
  group_data = { 
    group: {
      id: event.id,
      start: event.start.format(),
      end: event.end.format(),
    }
  };
  $.ajax({
    url: event.update_url,
    data: group_data,
    type: 'PATCH',
  })
  .fail(function() {
    alert("Failed to update the event, reverting");
    revertFunc();
  });
};

$('#calendar').fullCalendar({
  defaultDate: '<%= @round.start.strftime("%Y-%m-%d") %>',
  minTime:'<%= (@round.start - 1.hours).strftime("%H:%M:%S") %>',
  //minTime:'08:00:00',
  //maxTime:'20:00:00',
  maxTime:'<%= (@round.end + 1.hours).strftime("%H:%M:%S") %>',
  //defaultView: 'listDay',
  defaultView: 'agendaDay',
  //aspectRatio: '3',
  slotDuration: '00:05:00',
  events: '<%= groups_for_round_path(@round, format: :json) %>',
  editable: true,
  timeFormat: 'H(:mm)',
  eventDrop: function(event, delta, revertFunc) {
    if (!confirm("Are you sure you want to drop the group there?")) {
      revertFunc();
    } else {
      post_event(event, revertFunc);
    }
  },
  eventResize: function(event, delta, revertFunc) {
    if (!confirm("Are you sure you want to resize this group?")) {
      revertFunc();
    } else {
      post_event(event, revertFunc);
    }
  },
  eventRender: function(event, element) {
    if (event.hasOwnProperty('edit_url')) {
      // FIXME: maybe for this it actually makes sense to edit everything in the modal!
      // Should be easier to quickly reassign staff teams/users...
      var newElem = $('<a href="'+event.edit_url+'">Edit group</a>');
      element.find('.fc-content').append("<br/>");
      element.find('.fc-content').append(newElem);
    }
  },
});
$('#groups-action-collapse').click(function (e) {
  e.preventDefault();
  $('.panel-heading').not('.collapsed').click();
});
$('#groups-action-expand').click(function (e) {
  e.preventDefault();
  $('.panel-heading.collapsed').click();
});
    </script>
  <% end %>
<% end %>
