<%= render 'nav', active_event: @event.id do %>
  <% if @round %>
    <p>
    <%= alert(:info) do %>
      WIP: you can try the 'drag and drop' group interface <%= link_to("here", groups_repartition_for_round_path(@round)) %>
    <% end %>
    <a href="#" id="groups-action-expand">Expand all</a>
    | <a href="#" id="groups-action-collapse">Collapse all</a>
    | <%= link_to "Fillup remaining groups", fill_remaining_path(@round) %>
    </p>
    <!--<p><%= link_to "Autogenerate groups (will erase current registration groups!)", generate_groups_path(@round.id), method: "patch" %></p>-->
    <p><%= link_to "Edit #{@round.name} schedule", edit_round_path(@round) %></p>
    <div class="row row-all-groups">
      <% @groups.sort.each do |g| %>
        <%= render 'group_panel', group_id: g.id, title: g.name, color: g.color, group: g %>
        <div class="may-clearfix"></div>
      <% end %>
      <%= render 'group_panel', title: "No groups", group: @ungrouped %>
      <%= render 'group_panel', title: "No groups (Staff)", group_id: "nogroup-staff", group: @ungrouped_staff %>
    </div>
    <div class="row">
      <div id="calendar" class="col-xs-12"></div>
    </div>
    <script>
let additionalOptions = {
  minTime:'<%= (@round.start - 1.hours).strftime("%H:%M:%S") %>',
  maxTime:'<%= (@round.end + 1.hours).strftime("%H:%M:%S") %>',
  events: '<%= groups_for_round_path(@round, format: :json) %>',
  slotDuration: '00:05:00',
  eventRender: function(event, element) {
    if (event.hasOwnProperty('edit_url')) {
      // FIXME: maybe for this it actually makes sense to edit everything in the modal!
      // Should be easier to quickly reassign staff teams/users...
      var newElem = $('<a href="'+event.edit_url+'">Edit group</a>');
      element.find('.fc-content').append("<br/>");
      element.find('.fc-content').append(newElem);
    }
  },
};

setupFullCalendarOn("#calendar", '<%= @round.start.strftime("%Y-%m-%d") %>', 1, "default", additionalOptions, true);

$('#groups-action-collapse').click(function (e) {
  e.preventDefault();
  $('.panel-heading').not('.collapsed').click();
});
$('#groups-action-expand').click(function (e) {
  e.preventDefault();
  $('.panel-heading.collapsed').click();
});
    </script>
  <% end %>
<% end %>
