<div class="panel panel-default text-center">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('registration.confirmation_panel.title') %></h3>
  </div>
  <div class="panel-body">
    <p><%= t('registration.confirmation_panel.please_confirm_or_cancel')%></p>
    <div class="btn-group inline">
      <%= simple_form_for :confirm, url: confirm_path do |f| %>
        <%= button_tag(type: 'submit', name: "registration-action", value: "confirm", class: "btn btn-success confirm-btn", data: { confirm: t('registration.confirmation_panel.alert_coming') }) do %>
	  <%= t('registration.confirmation_panel.coming') %>
        <% end %>
        <%= button_tag(type: 'submit', name: "registration-action", value: "cancel", class: "btn btn-danger", data: { confirm: t('registration.confirmation_panel.alert_not_coming') }) do %>
	  <%= t('registration.confirmation_panel.not_coming') %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
