<%= simple_form_for registration, wrapper: :horizontal_form do |r| %>
  <% if r.object.errors.any? %>
    <div class="alert alert-danger">
      The form contains <%= pluralize(r.object.errors.count, "error") %>, please check below.
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <% panel_class = r.object.errors[:guests].any? ? "danger" : "default" %>
      <div class="panel panel-<%= panel_class %> text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Guests</h3>
        </div>
        <table class="table table-hover panel-body">
          <% if r.object.errors[:guests].any? %>
            <tr class="row">
              <td colspan="2">
                <%= r.error :guests, class:"form-error" %>
              </td>
            </tr>
          <% end %>
          <%= r.simple_fields_for :guests, registration.visible_guests do |g| %>
            <% input_id = get_input_id(g.object_name, "name") %>
            <tr id="<%= input_id %>_tr" class="guest-line row">
              <td class="col-xs-10">
                <%= g.input_field :name, as: :guest %>
              </td>
              <td class="col-xs-2 action-cell">
                <%= link_to_with_tooltip(icon('pencil', class: "text-info"), '#', 'Edit guest', class: 'edit-link', onclick: raw("startEdit('#{input_id}')"), id: "#{input_id}_s") %>
                <%= link_to_with_tooltip(icon('remove', class: "text-warning"), '#', 'Cancel editing', class: 'cancel-link', onclick: "cancelEdit('#{input_id}')", id: "#{input_id}_c") %>
                <%= link_to_with_tooltip(icon('minus-circle', class: "text-danger"), '#', 'Delete Guest', class: 'delete-link', onclick: "removeGuest($(this))") %>
              </td>
            </tr>
          <% end %>
          <%= r.simple_fields_for :guests, r.object.guests.build do |g| %>
            <tr class="new-guest-line row first-delete" data-rowid="<%= registration.guests.size %>">
              <td class="col-xs-10">
                <%= g.input_field :name, as: :guest, new_record: true, placeholder: "Guest's full name" %>
              </td>
              <td class="col-xs-2 action-cell">
                <%= link_to_with_tooltip(icon('minus-circle', class: "text-danger"), '#', 'Delete Guest', class: 'delete-link first-delete', onclick: "removeGuest($(this))") %>
              </td>
            </tr>
          <% end %>
          <tr id="add-row" class="row">
            <td colspan="2" data-toggle="tooltip" data-trigger="hover" title="Add guest">
              <%= link_to icon('plus', class: "text-success"), '#', class: 'add-link' %>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title">Additional information</h3>
        </div>
        <div class="panel-body">
          <% detail_object = registration.details %>
          <%= r.simple_fields_for :registration_detail, detail_object do |d| %>
            <% if current_user.can_manage_competition?(managed_competition) %>
              <%= d.input :staff %>
            <% end %>
            <%= d.input :tshirt, as: :radio_buttons, collection: RegistrationDetail::TSHIRT_SIZES, label: "Your t-shirt size: ", item_wrapper_class: 'tshirt-radio' %>
          <% end %>
          More to come later ;)
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <%= r.button :submit, value: "Save changes", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>

var preventDefaultFunc = function(e) {
  e.preventDefault();
};

$('td i').on('click', preventDefaultFunc);

$('#add-row').on('click', addRow);

function startEdit(elemId) {
  elemId = "#" + elemId;
  $(elemId).show();
  $(elemId + "_p").hide();
  $(elemId + "_c").show();
  $(elemId + "_s").hide();
}

function cancelEdit(elemId) {
  elemId = "#" + elemId;
  $(elemId).val($(elemId + "_p").text());
  $(elemId).hide();
  $(elemId + "_p").show();
  $(elemId + "_s").show();
  $(elemId + "_c").hide();
}

function addRow() {
  // Assumes there is at least an existing row
  // (which is the case if the user doesn't play with the html)
  var newRow = $('.new-guest-line').last().clone();
  // Clear it in case the user already filled it
  var newInput = newRow.find('input');
  newRow.find('a').removeClass("first-delete");
  newRow.find('a').tooltip();
  newRow.find('i').on('click', preventDefaultFunc);
  newInput.val("");
  var currentId = newRow.data("rowid") || 0;
  var oldId = newInput.attr("id");
  var oldName = newInput.attr("name");
  newInput.attr("id", oldId.replace(new RegExp(/_[0-9]+_/), "_" + currentId + "_"));
  newInput.attr("name", oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + currentId + "]"));
  newRow.attr("data-rowid", currentId + 1);
  newRow.insertBefore($("#add-row"));
  newRow.show();
}

function removeGuest(link) {
  // Get the 'tr' and remove it
  link.parent().parent().remove();
}

</script>
