<%= simple_form_for registration, wrapper: :horizontal_form do |r| %>
  <% if r.object.errors.any? %>
    <div class="alert alert-danger">
      The form contains <%= pluralize(r.object.errors.count, "error") %>, please check below.
    </div>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6">
      <% panel_class = r.object.errors[:guests].any? ? "danger" : "default" %>
      <div class="panel panel-<%= panel_class %> text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('registration.guests.title') %></h3>
        </div>
        <table class="table table-hover panel-body">
          <% if r.object.errors[:guests].any? %>
            <tr class="row">
              <td colspan="2">
                <%= r.error :guests, class:"form-error" %>
              </td>
            </tr>
          <% end %>
          <%= r.simple_fields_for :guests, registration.visible_guests do |g| %>
            <% input_id = get_input_id(g.object_name, "name") %>
            <tr id="<%= input_id %>_tr" class="guest-line row">
              <td class="col-xs-10">
                <%= g.input_field :name, as: :guest %>
              </td>
              <td class="col-xs-2 action-cell">
                <% if current_user.can_edit_guests?(managed_competition) %>
                  <%= link_to_with_tooltip(icon('pencil', class: "text-info"), '#', t('registration.guests.edit'), class: 'edit-link', onclick: raw("startEdit('#{input_id}')"), id: "#{input_id}_s") %>
                  <%= link_to_with_tooltip(icon('remove', class: "text-warning"), '#', t('registration.guests.cancel_edit'), class: 'cancel-link', onclick: "cancelEdit('#{input_id}')", id: "#{input_id}_c") %>
                  <%= link_to_with_tooltip(icon('minus-circle', class: "text-danger"), '#', t('registration.guests.delete'), class: 'delete-link', onclick: "removeGuest($(this))") %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <%= r.simple_fields_for :guests, r.object.guests.build do |g| %>
            <tr class="new-guest-line row first-delete" data-rowid="<%= registration.guests.size %>">
              <td class="col-xs-10">
                <%= g.input_field :name, as: :guest, new_record: true, placeholder: t('registration.guests.fullname') %>
              </td>
              <td class="col-xs-2 action-cell">
                <%= link_to_with_tooltip(icon('minus-circle', class: "text-danger"), '#', t('registration.guests.delete'), class: 'delete-link first-delete', onclick: "removeGuest($(this))") %>
              </td>
            </tr>
          <% end %>
          <% if current_user.can_edit_guests?(managed_competition) %>
            <tr id="add-row" class="row">
              <td colspan="2" data-toggle="tooltip" data-trigger="hover" title="<%= t('registration.guests.add') %>">
                <%= link_to icon('plus', class: "text-success"), '#', class: 'add-link' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t('registration.additional') %></h3>
        </div>
        <div class="panel-body">
          <% detail_object = registration.details %>
          <%= r.simple_fields_for :registration_detail, detail_object do |d| %>
            <% r.object.errors[:'registration_detail.mbf'].each do |e| %>
              <span class="alert-danger">
                <%= e %>
              </span>
            <% end %>
            <% if registration.events.include?("333mbf") %>
              <div class="row">
                <div class="col-xs-12">
                  <h4><%= t('registration.multiblind.title') %></h4>
                  <p class="help-block"><%= t('registration.multiblind.disclaimer') %></p>
                </div>
                <div class="col-xs-12">
                  <%= d.label :mbf1 %>
                  <%= d.error :mbf1 %>
                </div>
                <!--
                <div class="col-xs-4">
                  <%= d.label :mbf2 %>
                  <%= d.error :mbf2 %>
                </div>
                <div class="col-xs-4">
                  <%= d.label :mbf3 %>
                  <%= d.error :mbf3 %>
                </div>
                -->
                <div class="clearfix">
                </div>
                <div class="col-xs-12">
                  <%= d.input_field :mbf1, class: "form-control", min: 0 %>
                </div>
                <!--
                <div class="col-xs-4">
                  <%= d.input_field :mbf2, class: "form-control", min: 0 %>
                </div>
                <div class="col-xs-4">
                  <%= d.input_field :mbf3, class: "form-control", min: 0 %>
                </div>
                -->
              </div>
              <hr/>
            <% end %>
            <div class="row">
              <div class="col-xs-12">
                <%= d.label :tshirt %>
                <%= d.error :tshirt %>
              </div>
              <div class="col-xs-12 form-group radio_buttons">
                <%= d.input_field :tshirt, as: :radio_buttons, collection: RegistrationDetail::TSHIRT_SIZES, min: 0, item_wrapper_class: "tshirt-radio" %>
              </div>
            </div>
              <hr/>
            <div class="row">
              <div class="col-xs-12">
                <span><%= t('registration.restaurant.title') %></span>
                <div class="help-block"><%= t('registration.restaurant.desc') %></div>
              </div>
              <div class="col-xs-12 form-group">
                <%= d.input :restaurant_guests, min: 0 %>
              </div>
              <div class="col-xs-12 form-group">
		<%= d.input :nb_vg %>
              </div>
            </div>
            <% if current_user.can_manage_competition?(managed_competition) %>
              <hr/>
              <%= d.input :staff %>
              <%= d.input :orga %>
              <%= d.input :mbf_judge %>
              <%= d.input :runner_only %>
            <% end %>
          <% end %>

          <% if current_user.can_manage_competition?(managed_competition) %>
            <%= render 'shared/associated_events_picker', form_builder: r %>
            <hr/>
            <div class="col-xs-12 form-group">
              Doesn't scramble for: <%= render 'shared/event_id_collection', event_ids: registration.doesnt_scramble_events %>
            </div>
            <div class="col-xs-12 form-group">
              Warmup for: <%= render 'shared/event_id_collection', event_ids: registration.warmup_events %>
            </div>
            <div class="col-xs-12 form-group">
              Days helping: <%= registration.details.days_helping %>
            </div>
          <% end %>

          <div class="row" style="margin-top:10px">
            <div class="col-xs-12"><b><%= t('registration.personnal_schedule_html', link: link_to(t('registration.here'), my_schedule_path)) %></b></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-12">
      <%= r.button :submit, value: t('registration.save_changes'), class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<script>

var preventDefaultFunc = function(e) {
  e.preventDefault();
};

$('td i').on('click', preventDefaultFunc);

$('#add-row').on('click', addRow);

function startEdit(elemId) {
  elemId = "#" + elemId;
  $(elemId).show();
  $(elemId + "_p").hide();
  $(elemId + "_c").show();
  $(elemId + "_s").hide();
}

function cancelEdit(elemId) {
  elemId = "#" + elemId;
  $(elemId).val($(elemId + "_p").text());
  $(elemId).hide();
  $(elemId + "_p").show();
  $(elemId + "_s").show();
  $(elemId + "_c").hide();
}

function addRow() {
  // Assumes there is at least an existing row
  // (which is the case if the user doesn't play with the html)
  var newRow = $('.new-guest-line').last().clone();
  // Clear it in case the user already filled it
  var newInput = newRow.find('input');
  newRow.find('a').removeClass("first-delete");
  newRow.find('a').tooltip();
  newRow.find('i').on('click', preventDefaultFunc);
  newInput.val("");
  var currentId = newRow.data("rowid") || 0;
  var oldId = newInput.attr("id");
  var oldName = newInput.attr("name");
  newInput.attr("id", oldId.replace(new RegExp(/_[0-9]+_/), "_" + currentId + "_"));
  newInput.attr("name", oldName.replace(new RegExp(/\[[0-9]+\]/), "[" + currentId + "]"));
  newRow.attr("data-rowid", currentId + 1);
  newRow.insertBefore($("#add-row"));
  newRow.show();
}

function removeGuest(link) {
  // Get the 'tr' and remove it
  link.parent().parent().remove();
}

</script>
