<% panel_class, status = if registration.status == "accepted"
                           ["success", "Accepted"]
                         elsif registration.status == "pending"
                           ["warning", "Waiting List"]
                         else
                           ["danger", "Deleted"]
                         end %>
<div class="panel panel-<%= panel_class %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %> (<%= status %>)</h3>
  </div>
  <div class="panel-body">
  <% if current_user&.can_manage_competition?(managed_competition) %>
    <p>
      <%= link_to icon('pencil', 'Edit on the WCA Website'), wca_registration_url(@registration.id), target: "_blank" %>
    </p>
  <% end %>
    <p>Please contact the organization team if you need to change any of these</p>
    <div class="row">
      <div class="col-sm-2 div-label">
        Events
      </div>
      <div class="col-sm-10">
        <%= render "shared/event_id_collection", event_ids: registration.events %>
      </div>
    </div>
    <% unless registration.comments.blank? %>
      <div class="row">
        <div class="col-sm-2 div-label">
          Comment
        </div>
        <div class="col-sm-10">
          <div class="well">
            <%= registration.comments %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2 div-label">
        Confirmation
      </div>
      <div class="col-sm-10">
        <% if registration.details.confirmed_at %>
          <span class="text-success bg-success">Confirmed!</span>
        <% else %>
          <span class="text-danger bg-danger">Pending confirmation</span>
        <% end %>
      </div>
    </div>
  </div>
</div>
