<% panel_class, status = if registration.details.cancelled_at
                           ["danger", t('registration.wca_panel.cancelled')]
                         elsif registration.status == "accepted"
                           ["success", t('registration.wca_panel.accepted')]
                         elsif registration.status == "pending"
                           ["warning",  t('registration.wca_panel.waiting_list')]
                         else
                           ["danger",  t('registration.wca_panel.deleted')]
                         end %>
<div class="panel panel-<%= panel_class %>">
  <div class="panel-heading">
    <h3 class="panel-title"><%= title %> (<%= status %>)</h3>
  </div>
  <div class="panel-body">
  <% if current_user&.can_manage_competition? %>
    <p>
      <%= link_to icon('pencil', t('registration.wca_panel.edit_on_website')), wca_registration_url(@registration.id), target: "_blank" %>
    </p>
  <% end %>
    <p><%= t('registration.wca_panel.please_contact') %></p>
    <div class="row">
      <div class="col-sm-2 div-label">
        <%= t('registration.wca_panel.email') %>
      </div>
      <div class="col-sm-10">
        <%= registration.user.email %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 div-label">
        <%= t('registration.wca_panel.events') %>
      </div>
      <div class="col-sm-10">
        <%= render "shared/event_id_collection", event_ids: registration.events %>
      </div>
    </div>
    <% unless registration.comments.blank? %>
      <div class="row">
        <div class="col-sm-2 div-label">
          <%= t('registration.wca_panel.comment') %>
        </div>
        <div class="col-sm-10">
          <div class="well">
            <%= registration.comments %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-2 div-label">
        <%= t('registration.wca_panel.confirmation') %>
      </div>
      <div class="col-sm-10">
        <% if registration.details.confirmed_at %>
          <span class="text-success bg-success"><%= t('registration.wca_panel.confirmed') %></span>
        <% elsif registration.details.cancelled_at %>
          <span class="text-danger bg-danger"><%= t('registration.wca_panel.cancelled') %></span>
        <% else %>
          <span class="text-danger bg-warning"><%= t('registration.wca_panel.pending') %></span>
        <% end %>
      </div>
    </div>
  </div>
</div>
