<div class="container">
  <% if @mine || @registration.nil? %>
    <h2><%= t('registration.title') %></h2>
    <p><%= t('registration.edit.welcome', person: current_user.name) %></p>
  <% else %>
    <h2>
      <%= t('registration.edit.title', person: @user.name) %> (<%= @user.wca_id %>)
      <% if current_user.can_manage_competition? %>
        (<%= link_to t('registration.edit.schedule'), registration_schedule_path(@registration)  %>)
      <% end %>
    </h2>
  <% end %>
  <% unless @registration %>
    <p><%= t('registration.edit.not_registered') %></p>
  <% else %>
    <% if @mine %>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-12">
          <% if @registration.accepted? && !(@registration.details.confirmed_at || @registration.details.cancelled_at) %>
            <%= render "confirmation_panel" %>
          <% end %>
        </div>
      </div>
    <% elsif @registration.details.staff %>
      <p><%= t('registration.edit.registered_as_staff') %></p>
    <% end %>
    <% if @registration.details.staff %>
      <div class="row">
        <%= render "staff_panel" %>
      </div>
    <% end %>
    <hr/>
    <% unless current_user.can_edit_guests? %>
      <p class="help-block"><%= t('registration.edit.help_block') %></p>
    <% end %>
    <%= render "registration_form", registration: @registration %>
    <hr/>
    <div class="row">
      <%= render "wca_registration_panel", registration: @registration, title: t('registration.edit.title_wca_panel') %>
    </div>
  <% end %>
</div>
