<div class="container">
  <% if @mine || @registration.nil? %>
    <h2>My registration</h2>
    <p>Welcome <%= current_user.name %>!</p>
  <% else %>
    <h2>Editing registration for <%= @user.name %> (<%= @user.wca_id %>)</h2>
  <% end %>
  <% unless @registration %>
    <p>You're not registered for the competition</p>
  <% else %>
    <% if @mine %>
      <% if @registration.details.staff %>
        <p><strong>You are registered as Staff!</strong></p>
      <% end %>
      <div class="row text-center">
        <div class="col-xs-12 col-sm-12">
          <% if @registration.accepted? && !(@registration.details.confirmed_at || @registration.details.cancelled_at) %>
            <%= render "confirmation_panel" %>
          <% end %>
        </div>
      </div>
    <% elsif @registration.details.staff %>
      <p>This person is registered as staff</p>
    <% end %>
    <hr/>
    <%= render "registration_form", registration: @registration %>
    <hr/>
    <div class="row">
      <%= render "wca_registration_panel", registration: @registration, title: "Your WCA registration" %>
    </div>
  <% end %>
</div>
