<div class="container">
  <div class="row">
    <h3>Registrations</h3>
    <p>Welcome <%= render current_user %>!</p>

    <p><%= link_to icon('upload', "Import registrations"), import_registrations_path, method: 'patch' %></p>
    <div class="column">
      <table class="table">
        <tbody>
          <% @registrations.each do |registration| %>
            <tr>
              <td><%= link_to registration.id, edit_registration_path(registration) %></td>
              <td><%= registration.user.name %></td>
              <td><%= render "shared/event_id_collection", event_ids: registration.events %></td>
              <td><%= registration.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
