<div class="container">
  <div class="row">
    <h3>Registrations</h3>
    <p>Welcome <%= render current_user %>!</p>
    <p>Want to re-import registrations? Go <%= link_to "here" , import_registrations_path %>! You'll have to choose where to import the registrations from.</p>
    <h3>Accepted registrations (<%= @registrations.accepted.size %>)</h3>
    <p><%= @registrations.accepted.confirmed.count %> people confirmed their registration, <%= @registrations.accepted.cancelled.count %> people cancelled their registration.<p>
    <p>Please remember to delete cancelled people on the WCA website, accept the next one on the waiting list, and re-import data.</p>
    <p>There are currently <%= Guest.all.count %> declared guests.</p>
    <h3>Tshirt sizes</h3>
    <ul>
      <% @tshirts.each do |tshirt| %>
        <li><%= tshirt.size %> : <%= tshirt.nb %></li>
      <% end %>
    </ul>
    <h3>Restaurant</h3>
    <p><%= RegistrationDetail.sum(:restaurant_guests) %> people want to eat at the restaurant</p>
    <% # TODO: DRY this, add bootstrap-table for easy filtering %>
    <table class="table table-hover"
           data-toggle="table"
           data-search="true"
           id="table-accepted">
      <thead>
        <tr>
          <th>ID</th>
          <th>Confirmation status</th>
          <th>Name</th>
	  <th>Tshirt</th>
	  <th>Restaurant</th>
	  <th>Guests</th>
          <th>Events</th>
        </tr>
      </thead>
      <tbody>
        <% summary = {} %>
        <% @registrations.accepted.each do |registration| %>
          <tr>
            <td>
              <%= link_to registration.id, edit_registration_path(registration) %>
              <%= "*" if registration.details.staff %>
            </td>
            <td>
              <% if registration.details.confirmed_at %>
                <span class="text-success">confirmed</span>
              <% elsif registration.details.cancelled_at %>
                <span class="text-danger">cancelled</span>
              <% else %>
                <span class="text-warning">pending</span>
              <% end %>
            </td>
            <td><%= registration.user.name %></td>
            <td><%= registration.details.tshirt %></td>
            <td><%= registration.details.restaurant_guests %></td>
            <td><%= registration.guests.size %></td>
            <td><%= render "shared/event_id_collection", event_ids: registration.events, summary: summary %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">
            <% # FIXME: pff, that's really ugly %>
            <% summary.each do |e, n| %>
              <%= render "shared/event", event: Event.find(e) %>: <%= n %> |
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
    <table class="table">
      <thead>
        <tr>
          <td colspan="3"><h3>Pending registrations (<%= @registrations.pending.size %>)</h3></td>
        </tr>
      </thead>
      <tbody>
        <% @registrations.pending.each do |registration| %>
          <tr>
            <td>
              <%= link_to registration.id, edit_registration_path(registration) %>
              <%= "*" if registration.details.staff %>
            </td>
            <td><%= registration.user.name %></td>
            <td><%= render "shared/event_id_collection", event_ids: registration.events %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <table class="table">
      <thead>
        <tr>
          <td colspan="3"><h3>Deleted registrations (<%= @registrations.deleted.size %>)</h3></td>
        </tr>
      </thead>
      <tbody>
        <% @registrations.deleted.each do |registration| %>
          <tr>
            <td>
              <%= link_to registration.id, edit_registration_path(registration) %>
              <%= "*" if registration.details.staff %>
            </td>
            <td><%= registration.user.name %></td>
            <td><%= render "shared/event_id_collection", event_ids: registration.events %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
