<div class="container">
  <div class="row">
    <h3>Registration</h3>
    <p>Welcome <%= render current_user %>!</p>
    <div class="column">
      <table class="table">
        <tbody>
            <tr>
              <td><%= @registration.id %></td>
              <td><%= @registration.user.name %></td>
              <td><%= @registration.event_ids %></td>
              <td><%= @registration.status %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
