<div class="container">
  <div class="row">
    <h3>Staff Registrations (<%= @registrations.size %>)</h3>
    <table class="table table-hover"
           data-toggle="table"
           data-search="true"
           id="table-accepted">
      <thead>
        <tr>
          <th>Name</th>
          <th>Days Helping</th>
          <th>Activities</th>
          <th>Warm up</th>
          <!--<th>Confirmation status</th>-->
          <th>Events</th>
          <th>Scrambles for</th>
          <th>Doesn't scramble for</th>
          <th>Teams</th>
        </tr>
      </thead>
      <tbody>
        <% summary = {} %>
        <% @registrations.sort_by { |r| r.user.name }.each do |registration| %>
          <tr>
            <td>
              <%= link_to registration.user.name, edit_registration_path(registration) %>
            </td>
            <td>
              <%= registration.days_helping_as_string %>
            </td>
            <td><%= registration.activities_as_string %></rd>
            <td>
              <% if registration.warmup_events.any? %>
                <%= render "shared/event_id_collection", event_ids: registration.warmup_events.sort %>
              <% end %>
            </td>
            <!--
            <td>
              <% if registration.details.confirmed_at %>
                <span class="text-success">confirmed</span>
              <% elsif registration.details.cancelled_at %>
                <span class="text-danger">cancelled</span>
              <% else %>
                <span class="text-warning">pending</span>
              <% end %>
            </td>
            -->
            <td>
              <%= render "shared/event_id_collection", event_ids: registration.events %>
            </td>
            <td><%= render "shared/event_id_collection", event_ids: registration.scramble_events.map(&:event_id).sort, summary: summary %></td>
            <td>
              <% if registration.doesnt_scramble_events.any? %>
                <%= render "shared/event_id_collection", event_ids: registration.doesnt_scramble_events.sort %>
              <% end%>
            </td>
            <td><%= raw(staff_teams_to_links(registration.staff_teams)) %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="5">
            <% # FIXME: pff, that's really ugly %>
            <% summary.each do |e, n| %>
              <%= render "shared/event", event: Event.find(e) %>: <%= n %> |
            <% end %>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
