<style>
.row {
  width: 21cm;
}

.fc-list-item-time {
  width: 3cm;
  white-space: normal;
}

</style>
<div class="row">
  <div class="col-xs-12">
    <div id="calendar"></div>
  </div>
</div>
<script>
var options = {
  contentHeight: 'auto',
  displayEventEnd: true,
  slotDuration: '00:15:00',
  eventRender: function(event, element) {
    if (event.staff_event) {
      element.addClass("staff_event");
    }
  },
  events: [
  <% @rounds.each do |g| %>
    <%= raw(render('rounds/round.json.jbuilder', round: g)) %>,
  <% end %>
  <% @groups.each do |g| %>
    <%= raw(render('groups/group.json.jbuilder', group: g, fg: '#000', bg: '#009e60')) %>,
  <% end %>
  <% @schedule_events.each do |g| %>
    <%= raw(render('schedule_events/schedule_event.json.jbuilder', schedule_event: g)) %>,
  <% end %>
  ],
};

setupFullCalendarOn("#calendar", '<%= managed_competition.start_date %>', '<%= managed_competition.number_of_days %>', "fullcomp-list", options, false);

$('#calendar').ready(function (){
  $('#calendar').find('.fc-scroller').removeAttr("style");
});
</script>
