<style>
  .fc-list-item-time {
    width: 40px;
  }

  .fc-list-item-time {
    white-space: normal;
  }

  .fc-scroller {
    height: auto !important;
    overflow-x: initial !important;
    overflow-y: initial !important;
  }

  .col-xs-4 {
    width: 6.8cm;
    display: inline-block;
  }
</style>
<script>
  var options = function(eventsParam) {
    return {
      events: eventsParam,
      eventRender: function(event, element) {
        if (event.staff_event) {
          element.addClass("staff_event");
        }
      },
    };
  };
</script>
<div class="row">
  <% @registrations.each_slice((@registrations.size/3.to_f).ceil).each do |slice| %>

    <div class="col-xs-4">
      <% slice.each do |r| %>
        <% groups = r.groups %>
        <% individual_staff = r.staff_registrations_groups.map(&:group) %>
        <% staff_team_groups = r.staff_teams_groups.map(&:group) %>
        <% staff_team_groups.reject! { |g| @side_event.include?(g.event_id) && groups.include?(g) } %>
        <% events_count = {} %>
        <% days = (managed_competition.start_date..managed_competition.end_date) %>
        <% days.each do |d| %>
          <% function_select = lambda { |g| g.start.day == d.day } %>
          <% events_count[d.day] = groups.select(&function_select).size +
            individual_staff.select(&function_select).size +
            staff_team_groups.select(&function_select).size %>
        <% end %>
        <% days.each do |d| %>
          <%  if events_count[d.day] > 0 %>
            <div class="calendar-cell">
              <p class="name"><b><%= r.name %></b></p>
              <div id="calendar-<%= "#{r.id}-#{d.day}" %>"></div>
            </div>
          <% end %>
        <% end %>
        <script>

// Registration-specific js
var events<%= r.id %> = [
  <% groups.each do |g| %>
    <%= raw(render('groups/group.json.jbuilder', group: g, short: true)) %>,
  <% end %>
  <% individual_staff.each do |g| %>
    <%= raw(render('groups/group.json.jbuilder', group: g, short: true, staff: true, registration: r)) %>,
  <% end %>
  <% staff_team_groups.each do |g| %>
    <%= raw(render('groups/group.json.jbuilder', group: g, short: true, staff: true, registration: r)) %>,
  <% end %>
];

<% days.each do |d| %>
  <% if events_count[d.day] > 0 %>
    setupFullCalendarOn('#calendar-<%= "#{r.id}-#{d.day}" %>', "<%= d %>", "1", "fullcomp-list", options(events<%= r.id %>), false);
  <% end %>
<% end %>
        </script>
      <% end %>
    </div><!-- col-xs-4 -->
  <% end %>
</div>
