<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	<span class="sr-only"><%= t('navigation.toggle_navigation') %></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if current_user&.has_avatar? %>
        <%= link_to image_tag(current_user.avatar, class: "avatar-thumbnail"), root_path, class: 'navbar-brand' %>
      <% end %>
      <% if current_user %>
        <p class="navbar-text"><%= current_user.name %></p>
      <% end %>
    </div>
    <div class="collapse navbar-collapse text-center">
    <div class="title-app navbar-text hidden-sm"><%= managed_competition&.name %></div>
      <ul class="nav navbar-nav">
        <% if current_user&.can_manage_competition?(managed_competition) %>
          <%= render 'layouts/navigation_admin' %>
        <% end %>
        <% if current_user&.staff? || current_user&.can_manage_competition?(managed_competition) %>
          <%= render 'layouts/navigation_staff' %>
        <% end %>
        <li class="dropdown">
          <a href="" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">
	  <%= icon('info-circle') %> <%= t('navigation.information') %> <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to icon('calendar', t('navigation.competition_schedule')), schedule_path %></li>
            <!--<li><%# link_to icon('bars', t('navigation.visitors_list')), public_guests_path %></li>-->
            <% if current_user %>
              <li><%= link_to icon('user-circle-o', t('navigation.my_registration')), root_path %></li>
              <li><%= link_to icon('calendar-check-o', t('navigation.my_personal_schedule')), my_schedule_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle top-nav" data-toggle="dropdown" data-hover="dropdown">
            <% active_locale_info = Locales::AVAILABLE[I18n.locale] %>
            <%= flag_icon active_locale_info[:flag_id] %> <span class="hidden-md hidden-sm"><%= active_locale_info[:name] %></span>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu countries" role="menu">
            <% Locales::AVAILABLE.each do |l, data| %>
              <% unless l == I18n.locale %>
                <li>
                  <%= link_to raw("#{flag_icon(data[:flag_id])} #{data[:name]}"), { :locale => l } %>
                </li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <% if current_user %>
          <li>
            <%= link_to icon('sign-out', t('navigation.signout')), signout_path %>
          </li>
        <% else %>
          <li>
            <div class="signin-elem">
              <%= link_to t('navigation.signin_with_wca'), signin_path, class: "btn btn-block btn-Worldcubeassociation" %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
